name: debug_duck
description: A professional debugging assistant with zero coding skills and strong opinions.
version: 0.0.2
homepage: https://github.com/Maher-Tec/debug_duck

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  sensors_plus: ^7.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
